{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("vaersaagod\\guidemate\\assetbundles\\guidemate\\GuideMateAsset") %}


{% set sectionSelected = craft.guidemate.getSectionId() %}

{% set title = craft.guidemate.name|t %}
{% set sidebar %}

    <nav id="guidemate-nav">
        {% set help = craft.entries.sectionId(sectionSelected).all() %}

        <ul>
            {% nav page in help %}
                {% set active = page.id == craft.app.request.segments|last or loop.first and craft.app.request.segments|last == 'guidemate' %}
                <li>
                    <a {% if active %}class="sel"{% endif %}
                       href="{{ url('guidemate/' ~ page.id) }}">
                        {{ page.title }}
                    </a>
                    {% ifchildren %}
                        <ul>
                            {% children %}
                        </ul>
                    {% endifchildren %}
                </li>
            {% endnav %}
        </ul>
    </nav>
{% endset %}

{% set content %}
    <div id="guidemate">
        {{ craft.guidemate.renderContent(craft.app.request.segments|last) }}
    </div>
{% endset %}
